/* nav section */

.customNav {
  position: fixed;
  width: 100%;
  background-color: white !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  width: 150px;
}
.nav-item {
  margin: 0px 15px;
  font-size: 20px;
}
/* END nav section */

/* title*/

.container h1 {
  text-align: center;
}

.container h2 {
  text-align: center;
}
/* END title*/
